body {
    background-color: beige;
}

.main_container {
    padding: 10%;
}

.nav_buttons {
    margin-bottom: 2%;
}

.actor_search_input, .new_actor_input, .edit_actor_input {
    margin-bottom: 2%;
    margin-top: 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}