<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sakila Web - Actor Found</title>
    <link th:href="@{/styles/cssandjs/mainStyle.css}" rel="stylesheet"/>
</head>
<body>
<main>

    <a th:href="@{/actor}"><button id="actor_search_button" >Search for an actor</button></a>
    <a th:href="@{/actor/all}"><button id="all_actors_button">Show all actors</button></a>
    <a th:href="@{/actor}"><button id="new_actor_record_button">Create a new actor record</button></a>

    <div th:if="${foundActor != null}">
        <h2>Found actor</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td th:text="${foundActor.id}">The actor's first name</td>
                <td th:text="${foundActor.firstName}">The actor's first name</td>
                <td th:text="${foundActor.lastName}">The actor's last name</td>
            </tr>
        </table>
    </div>
    <a href="/actor"><button>Find another actor</button></a>
</main>
</body>
</html>