<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sakila Web - Homepage</title>
    <link th:href="@{/styles/cssandjs/mainStyle.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<main>
    <div class="main_container">
        <div class="nav_buttons">
            <a th:href="@{/actor}">
                <button id="actor_search_button" type="button" class="btn btn-info">Search for an actor</button>
            </a>
            <a th:href="@{/actor/all}">
                <button id="all_actors_button" type="button" class="btn btn-info">Show all actors</button>
            </a>
            <a th:href="@{/actor}">
                <button id="new_actor_record_button" type="button" class="btn btn-info">Create a new actor record
                </button>
            </a>
        </div>

        <div>
            <h1>Search for an actor by ID</h1>
            <form action="#" th:action="@{/actor/byid}" th:object="${foundActor}" method="get">
                <label for="id" hidden>Actor ID: </label>
                <input class="actor_search_input form-control" type="number" id="id" name="id" placeholder="Actor ID"
                       th:value="${id}"/>
                <input id="actor_search_submit_button" type="submit" value="Submit" class="btn btn-info"/>
            </form>
        </div>
        <div>
            <h1>Add a new actor record</h1>
            <form action="#" th:action="@{/actor/new}" th:object="${newActor}" method="post">
                <label for="first_name" hidden>First name: </label>
                <input class="new_actor_input form-control" type="text" id="first_name" name="first_name" th:field="*{firstName}"
                       placeholder="First Name"/>
                <label for="last_name" hidden>Last name: </label>
                <input class="new_actor_input form-control" type="text" id="last_name" name="last_name" th:field="*{lastName}"
                       placeholder="Last Name"/>
                <input id="new_actor_submit_button" type="submit" value="Submit" class="btn btn-info"/>
                <input type="reset" value="Reset" class="btn btn-info"/>
            </form>
        </div>
    </div>
</main>

</body>
</html>